<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>User Edit Page</h1>
    <form action="/users/<%=user.id%>?_method=PUT" method="POST">
        First Name: <input type="text" name="firstName" value="<%= user.firstName %>"/>
        Last Name: <input type="text" name="lastName" value="<%= user.lastName %>"/>
        Password: <input type="text" name="password" value="<%= user.password %>"/>
        <input type="submit" value="Submit changes" />
    </form>
</body>
</html>