<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Users New Page</h1>
    <form action="/users" method="POST">
        Username: <input type="text" name="username" />
        First Name: <input type="text" name="firstName" />
        Last Name: <input type="text" name="lastName" />
        Password: <input type="text" name="password" />
        <input type="submit" value="Create User" />
    </form>
</body>
</html>