<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Travel App Edit Page</h1>
    <form action="/trips/<%=trip.id%>?_method=PUT" method="POST">
        Destination: <input type="text" name="destination" value="<%= trip.destination %>"/>
        Start Date: <input type="text" name="startDate" value="<%= trip.startDate %>"/>
        End Date: <input type="text" name="endDate" value="<%= trip.endDate %>"/>
        <input type="submit" value="Submit changes" />
    </form>
</body>
</html>