<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Travel App Index Page</h1>
    <nav>
        <a href="/trips/new">Create a New Trip</a>
    </nav>
    <ul>
        <% for(let i=0; i < trips.length; i++) { %>
            <li>
                <a href="/trips/<%=i%>"> <%= trips[i].destination %></a>
                <form action="/trips/<%= i %> ?_method=DELETE" method="POST">
                    <input type="submit" value="Delete"/>
                </form>
            </li>
        <% } %>
    </ul>
</body>
</html>