<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Travel App New Page</h1>
    <form action="/trips" method="POST">
        Destination: <input type="text" name="destination"/>
        Start Date: <input type="text" name="startDate" />
        End Date: <input type="text" name="endDate" />
        <input type="submit" value="Create Trip" />
    </form>
</body>
</html>