<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>User Index Page</h1>
    <nav>
        <a href="/users/new">Sign up</a> |
        <a href="/users/login"> Log in</a>
    </nav>
    <ul>
        <% for(let i=0; i < users.length; i++) { %>
            <li>
                <a href="/users/<%=i%>"> <%= users[i].firstName %></a>
                <form action="/users/<%= i %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete"/>
                </form>
                <a href="/users/<%= i %>/edit">Edit</a>
            </li>
        <% } %>
    </ul>
</body>
</html>